body {
    background-color: mintcream; 
    font-family:  "bello-pro", sans-serif; 
    color: skyblue;
    margin:0; 
    padding:0;
}

.letter-container img {
    position: absolute;
    z-index: 99;
    top:-16%;
    left:;
    visibility: hidden;
    width: 340px;
    height: 700px;
    margin-top: 30px;
}

.letter-container img.visible {
    visibility: visible;
}

h2{
    font-family: quasimoda, sans-serif;
    color: darkblue;
    font-weight: 400;
    font-style: normal;
    background-color: mintcream;
    font-size: 30px;
    margin: 0px;  
}

.box h5 {
    font-size: 46px;
    margin: 0px;
}
footer p {
    font-family: quasimoda, sans-serif;
    color: darkblue;
    font-style: italic;
    font-size: 16px;
}

h3{
    font-family: quasimoda, sans-serif; 
    color: darkblue;
    font-size: 30px;
    margin: 0px;
}
p{
    font-family: quasimoda, sans-serif;
    color: darkblue;
    font-weight: 400;
    font-style: normal;
    background-color: mintcream;
}


.menu letter-set {
    border: 1px solid #fff;
    width 900px; 
    display: flex;
    justify-content: space-around;
}

.container {
    width:768px;
    height:1024px;
    margin: 0 auto; 
    
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 491px;
}

.header {
    height=60px; 
}

/* letter and button section */

.letter-container {
    width: 491px;
    display: flex;
    align-items: baseline;
    position: relative;
}

.flexy {
    display: flex;
}

.letter-container h1 {
    font-size: 449px;
    font-weight: 900px;
    margin-left: 31.28px;
    margin-right: 13.55px;
    margin-top: -100px;
    margin-bottom: -100px;
}

 h4, h5 {
    margin: -5px;
    font-size: 20px
}

p {
    font-family: quasimoda, sans-serif;
    color: darkblue;
    font-weight: 400;
    font-style: normal;
    background-color: mintcream;
    font-size: 20px; 
}

img { 
    margin-top: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#photo-info {
    display: flex;
    width: 80%;
}

.idk {
    margin-top: 45px;
    margin-left: 20px;
    text-align: left; 
    width: 50%;
}

#button {
    width: 66px; 
    height: 66px; 
    border-radius: 50%; 
    background-color: darkblue; 
    margin-left: 15px;
    z-index: 200;
    position: relative;
}
