body {
  font-family: nudista-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  margin-top: -50px;
}

.title-content {
  font-family: nudista-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color: grey;
  margin-top: -70px;
}

.title2-content {
  font-family: nudista-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-top: -20px;
}

.title3-content {
  font-family: nudista-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-top: -20px;
}

.leadin-content {
  ont-family: nudista-web, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-top: auto;
  text-align: left;
}

.section-one, .section-two, .section-three p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}


.intro-container, .section-four, .section-five, .section-six p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}