body {
    background-color: cornsilk;
    font-family:  "PT Serif", sans-serif; 
    color: lightcoral; 
    font-size: 160px;
    padding:0; 
    margin-top: -275px;
    margin-bottom: -200px; 
    text-align: center;
}

.grfrog {
    height:1.2em; 
    width:.2em;
    background-color: #00f0ff; 
}

.notre-content {
    font-family: "PT Serif", sans-serif;
    font-size:8px;
    color: #382b9d;
    padding-left:4vw;
    width: 10vw;
    padding: 1vw;
    margin-top: -460px;
    position: absolute;
}

.invisible {
    visibility: hidden; 
}

.fighting-irish {
    color: #382b9d; 
    font-weight: 20px;
    font-family: "PT Serif", sans-serif;
    letter-spacing: 0px;
    font-size: 20px; 
    margin-top: -50px;
    align-content: center;
}

#reveal-button:hover {
    background-color: red;
}

h2 {
    text-align: center;
    font-size: 80px;
    margin-top: -275px;
    color: #382b9d;
}

h3 {
    text-align: center;
    font-size: 80px;
    margin-top: -90px;
    color: #382b9d;
}

h4 {
   text-align: center;
    font-size: 18px;
    color: #382b9d;
    margin-top: -70px
}

.button {
    background-color: #382b9d;
    height: 8px;
    width: 8px; 
    border-radius:50%; 
    position: absolute;
}

.button:hover  {
    background-color: lightcoral;
}

.container {
    width: 700px;
    margin: 0 auto; 
    position: relative;
}

.united-states {
    position: relative;
    margin-top: 25px;
}

.button-container {
    position: absolute;
    top: 51%;
    left: 5%;
}

#oregon {
    bottom: 345px;
    left: 50px;
}

#washington {
    bottom: 385px;
    left: 45px;
}

#california {
    bottom: 260px;
    left: 70px;
}

#idaho {
    bottom: 332px;
    left: 120px;
}

#nevada {
    bottom:270px;
    left: 86px;
}

#montana {
    bottom:390px;
    left: 170px;
}

#wyoming {
    bottom:308px;
    left: 235px;
}

#utah {
    bottom:280px;
    left: 165px;
}

#arizona {
    bottom: 198px;
    left: 168px;
}

#alaska {
    bottom:80px;
    left: 120px;
}

#hawaii {
    bottom: 75px;
    left: 210px;
}

#colorado {
    bottom: 270px;
    left: 240px;
}

#newmexico {
    bottom:215px;
    left: 235px;
}

#northdakota {
    bottom: 390px;
    left: 290px;
}

#southdakota {
    bottom: 347px;
    left: 293px;
}

#nebraska {
    bottom:295px;
    left: 325px;
}

#kansas {
    bottom: 267px;
    left: 340px;
}

#oklahoma {
    bottom: 220px;
    left: 325px;
}

#texas {
    bottom:160px;
    left: 322px;
}

#minnesota {
    bottom:360px;
    left: 375px;
}

#iowa {
    bottom:307px;
    left: 370px;
}

#missouri {
    bottom:260px;
    left: 383px;
}

#arkansas {
    bottom: 210px;
    left: 380px;
}

#louisiana {
    bottom: 150px;
    left: 395px;
}

#wisconsin {
    bottom: 335px;
    left: 415px;
}

#illinois {
    bottom:280px;
    left: 415px;
}

#indiana {
    bottom:280px;
    left: 450px;
}

#kentucky {
    bottom:250px;
    left: 470px;
}

#tennessee {
    bottom:224px;
    left: 443px;
}

#mississippi {
    bottom: 180px;
    left: 405px;
}

#alabama {
    bottom:180px;
    left: 445px;
}

#georgia {
    bottom:192px;
    left: 473px;
}

#michigan {
    bottom: 320px; 
    left: 465px;
}

#ohio {
    bottom:283px;
    left: 484px;
}

#florida {
    bottom:150px;
    left: 465px;
}

#newyork {
    bottom:325px;
    left: 585px;
}

#pennsylvania {
    bottom:290px;
    left: 552px;
}

#westvirginia {
    bottom: 255px;
    left: 500px;
}

#virginia {
    bottom: 245px;
    left: 540px;
}

#northcarolina {
    bottom: 220px;
    left: 530px;
}

#southcarolina {
    bottom: 195px;
    left: 509px;
}

#maine {
    bottom: 345px;
    left: 637px;
}

#vermont {
    bottom: 340px;
    left: 602px;
}

#newhampshire {
    bottom: 325px;
    left: 613px;
}

#massachusetts {
    bottom: 308px;
    left: 618px;
}

#rhodeisland {
    bottom: 298px;
    left: 616px;
}

#connecticut {
    bottom: 300px;
    left: 600px;
}

#newjersey {
    bottom: 283px;
    left: 575px;
}

#delaware {
    bottom: 267px;
    left: 568px;
}

#maryland {
    bottom: 264px;
    left: 555px;
}










